{
	email admin@example.com
}

staging.example.com {
	encode zstd gzip

	log {
		output file /var/log/caddy/work-planner-staging.access.log
	}

	handle /api/* {
		request_body {
			max_size 10MB
		}

		reverse_proxy 127.0.0.1:3001
	}

	handle {
		reverse_proxy 127.0.0.1:8081
	}
}

app.example.com {
	encode zstd gzip

	log {
		output file /var/log/caddy/work-planner-production.access.log
	}

	handle /api/* {
		request_body {
			max_size 10MB
		}

		reverse_proxy 127.0.0.1:3000
	}

	handle {
		reverse_proxy 127.0.0.1:8080
	}
}
